@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.flex {
  display: block;
  width: 100%;
}

.logo {
  display: block;
  width: 150px;
  margin: 0 auto;
}

label {
  display: block;
}

input + label {
  display: inline-block;
}

button {
  color: #fff;
  font-size: 1.5em;
  border: 5px solid #fff;
  background-color: #f37e20;
  font-family: Verdana;
  border-radius: 16px;
  padding: 0.5em 1em;
}

button:hover {
  border: 5px solid #f37e20;
  background-color: #fff;
  cursor: pointer;
  color: #f37e20;
}

/* Purple background colour */
.section-purple {
  background-color: #a368ab;
}

/* Blue background colour */
.section-blue {
  background-color: #449da5;
}

/*Dark background */
.section-dark {
  background-color: #666666;
}

/* Styles links */
a {
  color: #ffffff;
}

/* Centers masthead */
.masthead {
  color: #ffffff; /* Colours text in masthead white */
  text-align: center;
}

/* Removes default styling */
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: sans-serif;
}

.nav a {
  display: block; /* Change nav a tags to block*/
  text-decoration: none; /* Removes default text styling */
}

.footer {
  text-align: center; /* Centers content in footer */
  color: #ffffff; /* Colours footer text white */
}

.banner {
  position: relative;
  text-align: center;
}

.banner-img {
  padding-top: 55%;
  background: url("images/piano-martijn-de-valk.jpg"); no-repeat center center;
  background-size: cover;
}

.intro-wrap {
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: #666666; /* Grey background */
  color: #ffffff; /* White text */
}

.intro {
  max-width: 15em; /* Gives the banner intro a maximum width */
  margin: 0 auto;
  width: 100%;
}

.text {
  text-align: center;
  color: #666666;
}

.description-width {
  max-width: 40em;
  margin: 0 auto;
}

.description-text {
  color: #ffffff;
  position: relative;
  text-align: center;
}

.sign-up-text {
  color: #666666;
  position: relative;
  text-align: center;
}

a:hover, 
a:active {
  color: #e2e2e2;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

input[type="name"] {
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 1.125em;
  font-family: serif;
  padding: 0.5em;
}

input[type="name"]:focus {
  outline: 1px solid #a368ab;
  background-color: #fff;
}

input[type="email"] {
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 1.125em;
  font-family: serif;
  padding: 0.5em;
}

input[type="email"]:focus {
  outline: 1px solid #a368ab;
  background-color: #fff;
}

input[type="password"] {
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 1.125em;
  font-family: serif;
  padding: 0.5em;
}

input[type="password"]:focus {
  outline: 1px solid #a368ab;
  background-color: #fff;
}

.form {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 12rem;
}

.uppercase-sans {
  text-transform: uppercase;
  font-family: sans-serif;
}

@media only screen and (min-width: 25em) {

  .nav li {
    display: inline-block; /* Changes nav list items to inline block*/
  }

  .intro-wrap {
    bottom: 0rem; /* Text's distance from the bottom of the banner */
    position: absolute;
    background-color: transparent;
    text-transform: uppercase;
    font-family: sans-serif;
    width: 100%;
  }

}

@media only screen and (min-width: 38em) {

  .masthead {
    text-align: left; /* Overrides text align center for medium screens*/
  }

  .footer {
    text-align: left; /* Aligns copyright info to left*/
  }

  .nav-footer {
    text-align: right; /* Aligns footer nav to right*/
  }

  .nav {
    text-align: right;
  }

  .text {
    text-align: left;
  }

  .features-padding {
    padding-top: 3rem;
  }

  .intro-wrap {
    bottom: 4rem;
  }

}

@media only screen and (min-width: 60em) {

  .banner-img {
  padding-top: 40%;
  }

  .content-width {
  max-width: 85%;
  margin: 0 auto;
  }

   .intro-wrap {
    bottom: 10rem;
  }
  
}






