@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.flex {
  display: block;
  width: 100%;
}

/* Purple background colour */
.section-purple {
  background-color: #a368ab;
}

/* Blue background colour */
.section-blue {
  background-color: #449da5;
}

/* Transparent */
.transparent {
  background-color: transparent;
}

/* Styles links */
a {
  color: #ffffff;
}

/* Centers masthead */
.masthead {
  color: #ffffff; /* Colours text in masthead white */
  text-align: center;
}

/* Removes default styling */
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav a {
  display: block; /* Change nav a tags to block*/
  text-decoration: none; /* Removes default text styling */
}

.footer {
  text-align: center; /* Centers content in footer */
  color: #ffffff; /* Colours footer text white */
}

.banner {
  position: relative;
  text-align: center;
}

.banner-img {
  padding-top: 56.25%;
  background: url("images/billboard-image.png"); no-repeat center center;
  background-size: cover;
}

.intro-wrap {
  background-color: #706f75; /* Grey background */
  color: #ffffff; /* White text */
}

.intro {
  max-width: 20em; /* Gives the banner intro a maximum width */
  margin: 0 auto;
  width: 100%;
}

.text {
  text-align: center;
  color: #666666;
}

.please-work {
  display: inline-block;
}

.description-text {
  color: #ffffff;
  position: relative;
  text-align: center;
}

.sign-up-text {
  color: #666666;
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .nav li {
    display: inline-block; /* Changes nav list items to inline block*/
  }

  .intro-wrap {
    bottom: 0; /* Text's distance from the bottom of the banner */
    position: absolute;
    width: 100%;
  }

}

@media only screen and (min-width: 38em) {

  .masthead {
    text-align: left; /* Overrides text align center for medium screens*/
  }

  .footer {
    text-align: left; /* Aligns copyright info to left*/
  }

  .nav-footer {
    text-align: right; /* Aligns footer nav to right*/
  }

  .nav {
    text-align: right;
  }

  .text {
    text-align: left;
  }

  .features-padding {
    padding-top: 3rem;
  }

}

@media only screen and (min-width: 60em) {
  
}






